<!DOCTYPE html>
<head>
  <%- include('./partials/head') %>
</head>
<html>
  <head>
    
  </head>
  <body>
    <%- include('./partials/header') %>

    <main>
      
      <%- include('./partials/lists-buttons') %>
      <hr>     
      <br>
      
      <div>
        <% if (message) { %>
          <h2><%= message %></h2>
        <% } %>
      
        <h1>Agregar Info de cómo usar las APIS</h1>
      </div>
      <br>
      <%- include('./partials/create-buttons') %>
      <%- include('./partials/foot-footnote') %>
    </main>
  </body>
</html>
