<!DOCTYPE html>
<head>
  <%- include('./partials/head') %>
</head>
<html>
  <head>
    
  </head>
  <body>
    <%- include('./partials/header') %>

    <main>
      

      <!-- Movies -->
      <div>
        <% for (let i = 0; i < movies.length; i++) { %>
          <p><%= movies[i].title %> </p>
          <p><%= movies[i].release %> </p>
          <p><%= genres[movies[i].genres[0]].name %> </p>
          
          <br>
          <hr>
        <% } %>
      </div>

      <br>
      <hr>
      <br>
      <hr>
      <!-- Characters -->
      <div>
        <% for (let i = 1; i < characters.length; i++) { %>
          <p><%= characters[i].name %> </p>
          <p><%= movies[characters[i].movies[0]].title %> </p>         
          <br>
          <hr>
        <% } %>
      </div>
      
      <br>
      
      <div>
        <% if (message) { %>
          <h2><%= message %></h2>
        <% } %>
      
        <h1>Agregar Info de cómo usar las APIS</h1>
      </div>
      <br>
      <%- include('./partials/create-buttons') %>
    </main>
  </body>
</html>
