<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/head') %>
</head>

<body>
  <%- include('./partials/header') %>

  <main>
    <h2><%= message %></h2>
    
    <form action="/users/login/" method="POST" id="form" autocomplete="on" class="login">

      <div class="">
          
          <div class="">
          
              <div class="">
                  <label for="name">Email</label>
                  <input type="email" name="email" id="email" class="" placeholder="email">
              </div>


              <div class="">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password" class="" placeholder="password">
              </div>

              
              <label>
                  <input class="remember" type="checkbox" class="form-check-input" name="remember_user">Remember me
              </label>

              <% if (locals.errores && errores.password) { %>
                  <h2 class="validator-error"><%= errores.password.msg %> </h2>
              <% } %>

          </div>

          <div class="">
              <button class="" type="submit" value="Submit">Submit</button>
          </div>

      </div>

  </form>
    

    <br>
    <hr>
    <%- include('./partials/foot-footnote') %>
  </main>
</body>
</html>
